.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}
.about-header {
    font-size: 50px;
}
.about-desc {
    gap: 1.5rem;
}


@media screen and (max-width: 940px) {
    .about-section {
        flex-direction: column;
        padding: 10px 0;
    }
    .about-header {
        font-size: 35px;
    }
    .about-desc {
        gap: 1rem;
    }

    .about-img-2 {
        border-radius: 0px !important;
    }
    
}

.about-img {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
}
.about-img-2 {
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .about-section {
        gap: 20px !important;
    }
 
    
}