.two-col {
    display: flex;
    width: 100%;
}

.two-col-card {
    width: 50%;
}

.design-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-items: center;
    min-width: 100%;
    width: 600px;
    background-color: #E6F2FF;
    border-radius: 20px;
}

.design-img {
    min-width: 100%;
    object-fit: cover;
    border-radius: 10px;


}

.design-desc {
    font-size: 18px;
    line-height: normal;

}

.design-img img {
    width: 600px;
    padding: 30px;
    object-fit: cover;
    border-radius: 10px;
}

.img-desc {
    font-size: 18px;
    font-weight: 500;
    margin: 15px 0 10px 0;
}

.text-campus {
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    min-width: 100%;
}

.text-campus-desc {
    font-size: 22px;
    line-height: normal;
    min-width: 100%;
}

.graphic {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
}

.campus-hero-container {
    position: relative;
    justify-items: start;
    width: 100%;
    min-height: 500px;
    padding-top: 20px;
    padding-left: 20px;

}

@media screen and (max-width: 1236px) {
    .graphic {
        position: absolute;
        bottom: 50px;
        right: 0;
        width: 80%;
    }

    .campus-hero-container {
        min-height: 400px;
    }

    .info-header {
        font-size: 18px;
    }

    .info-text {
        font-size: 15px;
    }

    .design-desc {
        font-size: 14px;
    }

    .study-header {
        font-size: 20px;
    }

}

@media screen and (max-width: 768px) {
    .study-header {
        font-size: 20px;
    }

    .design-container {
        width: 100%;
    }

    .design-img img {
        width: 100%;
    }

    .design-desc {
        font-size: 14px;
    }


    .text-campus {
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        min-width: 100%;
    }

    .text-campus-desc {
        font-size: 14px;
        line-height: normal;
        min-width: 100%;
    }

    .graphic {
        position: absolute;
        bottom: 50px;
        right: 0;
        width: 80%;
    }

    .info-header {
        font-size: 16px;
    }

    .info-text {
        font-size: 14px;
    }

    .campus-hero-container {
        min-height: 300px;
    }
}