.bg-color {
    background-color: #F5F5F5;
}
.top-padding {
    padding: 15px 30px;
    margin-bottom: 10px;
}

@media screen and (max-width: 640px) {
    .top-padding {
        padding: 15px 10px;
    }
    
}